* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html, body {
    background: rgb(255, 255, 251);
    height: 100%;
    width: 100%;
}

.container {
    height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
}

.container .generate-box {
    border-radius: .4rem;
    margin: 0 auto;
    max-width: 400px;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container .generate-box .result {
    border-radius: .4rem;
    color: #413d3d;
    border: 1px solid #cecece;
    font-size: 2rem;
    font-weight: 100;
    margin-bottom: 1.5rem;
    padding: 1rem;
}

.container .generate-box button {
    background: #eeecec;
    border-radius: .4rem;
    border: none;
    color: #413d3d;
    cursor: pointer;
    font-size: 1.6rem;
    padding: 1rem;
}